<section id="contact">
    <h2>Elérhetőségek</h2>

    <div>
        <table class="table">
            <tr>
                <td>Levélcím</td>
                <td>1028 Budapest, Kővári út 14/b.</td>
            </tr>
            <tr>
                <td>Facebook</td>
                <td><a href="http://facebook.com/hidegkuti.spartacus">http://facebook.com/hidegkuti.spartacus</a></td>
            </tr>
            <tr>
                <td>Levelezőlista</td>
                <td><a href="https://groups.google.com/forum/#!forum/hidegkutispartacus">Hidegkúti Spartacus (HSP)</a></td>
            </tr>
            <tr>
                <td>MTFSZ Admin</td>
                <td><a href="http://admin.mtfsz.hu/szervezet/show/szervezet_id/10172">http://admin.mtfsz.hu/szervezet/show/szervezet_id/10172</a></td>
            </tr>
        </table>
    </div>
</section>
