<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>HSP - Hidegkúti Spartacus SKE</h1>
    <p>Hidegkúti Spartacus Sport és Környezetvédő Egyesület - Tájfutó Szakosztály</p>
</div>