<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hidegkúti Spartacus SKE</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <link href="css/theme.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target=".navbar-fixed-top">

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">HSP</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#championships">Versenyeink</a></li>
                    <li><a href="#contact">Elérhetőségek</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    <div class="container theme-showcase" role="main">

        <!-- Main jumbotron for a primary marketing message or call to action -->
        <div class="jumbotron">
            <h1>HSP - Hidegkúti Spartacus SKE</h1>
            <p>Hidegkúti Spartacus Sport és Környezetvédő Egyesület - Tájfutó Szakosztály</p>
        </div>

        <section id="news">
            <div class="row">
                <div class="col-md-4">
                    <h3>Tavalyi eredményeink</h3>
                    A januári Tájfutó Gálán átadták a Szenior Egyesületi Bajnoki Pontverseny és Szenior Összetett Bajnokság HSP-s emléklapjait. Gratulálunk a dobogós helyezésünkhöz eredményesen hozzájárulóknak (12 fő), illetve az összetett bajnokság érmeseinek!
                </div>
                <div class="col-md-4">
                    <a href="img/egyesuleti.jpg">
                        <img class="img-4" src="img/egyesuleti.jpg" />
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="img/osszetett.jpg">
                        <img class="img-4" src="img/osszetett.jpg" />
                    </a>
                </div>
            </div>
            <div class="row col-md-12">
                <hr />
            </div>
            <div class="row">
                <div class="col-md-4">
                    <h3>2015 - Évnyitó</h3>
                    Január 31 és február 1 között megtartottuk Gánton a szokásos éves közgyűlésünket ahol futással, sífutással és kirándulással kezdtük meg az új évet.
                </div>
                <div class="col-md-4">
                    <a href="https://plus.google.com/photos/116029615239802734468/albums/6111370709023281425">
                        <img class="img-4" src="https://lh4.googleusercontent.com/5mpCrrONfFOkwbHoZd1buJcQvuTggCKONOKAMl3967Wj=w375-h249-p-no">
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="https://plus.google.com/photos/116029615239802734468/albums/6111370709023281425">
                        <img class="img-4" src="https://lh6.googleusercontent.com/0CoNUan3KLXVTF2nA8dd9aPZuRlNIgw7NN-YoDRChWBn=w375-h249-p-no">
                    </a>
                </div>
            </div>
        </section>

        <section id="championships">
            <h2 class="anchor">Versenyeink</h2>

            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Dátum</th>
                            <th>Helyszín</th>
                            <th>Értesítő</th>
                            <th>Kiírás</th>
                            <th>Eredmények</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>2015. Március 4.</td>
                            <td>Margitsziget (3Sz)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2015. Május 6.</td>
                            <td>Vadaskert (3Sz)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>2015. Október 21.</td>
                            <td>Városmajor (3Sz)</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>Budasprint - Budai vár</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section id="contact">
            <h2>Elérhetőségek</h2>

            <div>
                <table class="table">
                    <tr>
                        <td>Levélcím</td>
                        <td>1028 Budapest, Kővári út 14/b.</td>
                    </tr>
                    <tr>
                        <td>Facebook</td>
                        <td><a href="http://facebook.com/hidegkuti.spartacus">http://facebook.com/hidegkuti.spartacus</a></td>
                    </tr>
                    <tr>
                        <td>Levelezőlista</td>
                        <td><a href="https://groups.google.com/forum/#!forum/hidegkutispartacus">Hidegkúti Spartacus (HSP)</a></td>
                    </tr>
                    <tr>
                        <td>MTFSZ Admin</td>
                        <td><a href="http://admin.mtfsz.hu/szervezet/show/szervezet_id/10172">http://admin.mtfsz.hu/szervezet/show/szervezet_id/10172</a></td>
                    </tr>
                </table>
            </div>
        </section>

    </div> <!-- /container -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>